<!DOCTYPE html>
<html lang="en" class="layout-default">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NestNewsletter SSR</title>
  <link href="/assets/stylesheets/application.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <%- body %>
</body>
</html>