.list-newsletter {
  font-weight: var(--font-weight-5);
  width: 500px;

  .newsletter-wrapper {
    list-style-type: none;
    padding-left: 0;
    margin-top: var(--size-4);

    .newsletter-item {
      display: flex;
      flex-direction: row;
      background: var(--gray-0);
      border-radius: var(--radius-conditional-2);
      padding: var(--size-2);
      color: black;
      cursor: pointer;
      --_size: var(--font-size-1);
      margin-bottom: var(--size-3);
      box-shadow: var(--shadow-2);
    }
  }
}
