.app-header {
  display: flex;
  align-items: center;

  height: var(--size-10);

  background: white;

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    width: 100%;
  }

  &__brand {
    font-size: var(--font-size-fluid-1);
    font-weight: var(--font-weight-7);
  }

  &__navigation {
    .dropdown__menu {
      width: 8rem;

      button {
        @include chromeless();
  
        padding: 0;
  
        color: var(--text1);
  
        font-size: var(--font-size-0);
        white-space: pre;
      }
    }
  }
}
