
.home {
  flex-grow: 2;
  background: var(--gray-2);
  padding: var(--size-3);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__create-button {
    --_bg: linear-gradient(var(--indigo-5), var(--indigo-7));
    --_border: var(--indigo-6);
    --_text: var(--indigo-0);
    --_ink-shadow: 0 1px 0 var(--indigo-9);
    --_size: var(--font-size-0);
  }
}